
<launch>
        <!-- Publish diagnostics information from low-level MCU outputs -->
        <node pkg="mmWave_ROS1_PX4_Gazebo" type="lidar_to_mmwave" name="lidar_to_mmwave"/>

        <!-- Publish wheel odometry from MCU encoder data -->
       <!-- <node pkg="mmWave_ROS1_PX4_Gazebo" type="img_3d_to_2d_proj" name="lol"/>

        <node pkg="mmWave_ROS1_PX4_Gazebo" type="vel_ctrl_vec_pub" name="fire"/> -->
</launch>